flows.json
[{"id":"cfe8b3b6.bf496","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bc77fb95.6a33a8","type":"ibmiot in","z":"cfe8b3b6.bf496","authentication":"apiKey","apiKey":"534de2e0.fb8a9c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"qwerty123","applicationId":"","deviceType":"iotdevice1","eventType":"Data","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":210,"y":120,"wires":[["9fced52f.dc70f8","64c3c12c.cc268","2131606c.096f4"]]},{"id":"9fced52f.dc70f8","type":"function","z":"cfe8b3b6.bf496","name":"objectTemp","func":"msg.payload = msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":120,"wires":[["3e83796e.f3b056","2cd50f98.1305e"]]},{"id":"3e83796e.f3b056","type":"ui_gauge","z":"cfe8b3b6.bf496","name":"Object Temperature Guage","group":"10d1c91e.01c2d7","order":2,"width":0,"height":0,"gtype":"gage","title":"Object Temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#ffff00","#ff0000"],"seg1":"","seg2":"","x":750,"y":160,"wires":[]},{"id":"46bfff0d.7682a","type":"ibmiot out","z":"cfe8b3b6.bf496","authentication":"apiKey","apiKey":"534de2e0.fb8a9c","outputType":"cmd","deviceId":"qwerty123","deviceType":"iotdevice1","eventCommandType":"motor_on_off","format":"json","data":"ON","qos":0,"name":"IBM IoT","service":"registered","x":840,"y":760,"wires":[]},{"id":"4b682b08.686954","type":"ui_button","z":"cfe8b3b6.bf496","name":"","group":"4f408f77.1c2d3","order":2,"width":0,"height":0,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":190,"y":700,"wires":[["12d0b114.a7c35f"]]},{"id":"4a006290.65608c","type":"ui_button","z":"cfe8b3b6.bf496","name":"","group":"4f408f77.1c2d3","order":3,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":200,"y":760,"wires":[["12d0b114.a7c35f"]]},{"id":"c33f5025.7f038","type":"http request","z":"cfe8b3b6.bf496","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Gudur,in&appid=62354068e45f41ffa6a5b164714145fe","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":420,"wires":[["a097d8ac.7e0938","3e769749.6d10a8","72c8ebd7.d35ad4","a73fa771.e4e788","40f00554.43fedc"]]},{"id":"35a7a344.33f0ec","type":"inject","z":"cfe8b3b6.bf496","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":420,"wires":[["c33f5025.7f038"]]},{"id":"a097d8ac.7e0938","type":"function","z":"cfe8b3b6.bf496","name":"Temperature","func":"var temperature = msg.payload.main.temp;\ntemperature = temperature-273.15;\nreturn {payload : temperature.toFixed(2)};\n","outputs":1,"noerr":0,"x":610,"y":338,"wires":[["3ab4c15f.cf2b3e","50d34982.5fc248"]]},{"id":"3ab4c15f.cf2b3e","type":"ui_gauge","z":"cfe8b3b6.bf496","name":"Temperature Guage","group":"3ca8a178.6d435e","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":380,"wires":[]},{"id":"3e769749.6d10a8","type":"function","z":"cfe8b3b6.bf496","name":"feels like","func":"var feelsLike = msg.payload.main.feels_like;\nfeelsLike = feelsLike-273.15;\nreturn {payload : feelsLike.toFixed(2)};\n","outputs":1,"noerr":0,"x":600,"y":500,"wires":[["bc01eb71.cb7c28","75a6d1a6.52ecf"]]},{"id":"bc01eb71.cb7c28","type":"ui_gauge","z":"cfe8b3b6.bf496","name":"Feels like Guage","group":"3ca8a178.6d435e","order":2,"width":0,"height":0,"gtype":"gage","title":"Feels like","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":543,"wires":[]},{"id":"64c3c12c.cc268","type":"function","z":"cfe8b3b6.bf496","name":"humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["4e6c783b.f92c18","49ebd638.c4ce58"]]},{"id":"4e6c783b.f92c18","type":"ui_gauge","z":"cfe8b3b6.bf496","name":"Humidity Guage","group":"10d1c91e.01c2d7","order":3,"width":0,"height":0,"gtype":"gage","title":"Actual Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":240,"wires":[]},{"id":"2131606c.096f4","type":"function","z":"cfe8b3b6.bf496","name":"temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":40,"wires":[["47ecece6.b3d5b4","711794f3.023cec"]]},{"id":"47ecece6.b3d5b4","type":"ui_gauge","z":"cfe8b3b6.bf496","name":"Actual Temperature Guage","group":"10d1c91e.01c2d7","order":1,"width":0,"height":0,"gtype":"gage","title":"Actual Temperature ","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":80,"wires":[]},{"id":"72c8ebd7.d35ad4","type":"function","z":"cfe8b3b6.bf496","name":"Humidity","func":"var Humidity = msg.payload.main.humidity;\nreturn {payload : Humidity.toFixed(2)};\n","outputs":1,"noerr":0,"x":600,"y":420,"wires":[["bda85d28.6acf7","823faa06.d73fe8"]]},{"id":"bda85d28.6acf7","type":"ui_gauge","z":"cfe8b3b6.bf496","name":"Relative Humidity Guage","group":"3ca8a178.6d435e","order":3,"width":0,"height":0,"gtype":"gage","title":"Relative Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":460,"wires":[]},{"id":"2cd50f98.1305e","type":"ui_text","z":"cfe8b3b6.bf496","group":"10d1c91e.01c2d7","order":6,"width":0,"height":0,"name":"Object Temperature","label":"Object Temperature(°C)","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":120,"wires":[]},{"id":"711794f3.023cec","type":"ui_text","z":"cfe8b3b6.bf496","group":"10d1c91e.01c2d7","order":4,"width":0,"height":0,"name":"Actual Temperature","label":"Actual Temperature(°C)","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":40,"wires":[]},{"id":"49ebd638.c4ce58","type":"ui_text","z":"cfe8b3b6.bf496","group":"10d1c91e.01c2d7","order":5,"width":0,"height":0,"name":"Humidity","label":"Humidity(%)","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":200,"wires":[]},{"id":"823faa06.d73fe8","type":"ui_text","z":"cfe8b3b6.bf496","group":"3ca8a178.6d435e","order":8,"width":0,"height":0,"name":"Relative Humidity","label":"Relative Humidity(°C)","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":420,"wires":[]},{"id":"50d34982.5fc248","type":"ui_text","z":"cfe8b3b6.bf496","group":"3ca8a178.6d435e","order":6,"width":0,"height":0,"name":"Actual Temperature","label":"Actual Temperature(°C)","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":340,"wires":[]},{"id":"75a6d1a6.52ecf","type":"ui_text","z":"cfe8b3b6.bf496","group":"3ca8a178.6d435e","order":7,"width":0,"height":0,"name":"Feels like","label":"Feels like(%)","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":501,"wires":[]},{"id":"a73fa771.e4e788","type":"function","z":"cfe8b3b6.bf496","name":"Max. Temperature","func":"var max = msg.payload.main.temp_max;\nmax=max-273.15;\nreturn {payload:max.toFixed(2)};","outputs":1,"noerr":0,"x":630,"y":300,"wires":[["ee268cc9.d6f21"]]},{"id":"ee268cc9.d6f21","type":"ui_text","z":"cfe8b3b6.bf496","group":"3ca8a178.6d435e","order":4,"width":0,"height":0,"name":"Max. Temperature","label":"Max. Temperature(°C)","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":300,"wires":[]},{"id":"40f00554.43fedc","type":"function","z":"cfe8b3b6.bf496","name":"Min. Temperature","func":"var min = msg.payload.main.temp_min;\nmin = min-273.15;\nreturn {payload:min.toFixed(2)};","outputs":1,"noerr":0,"x":630,"y":580,"wires":[["a3b3d20a.dfcca"]]},{"id":"a3b3d20a.dfcca","type":"ui_text","z":"cfe8b3b6.bf496","group":"3ca8a178.6d435e","order":5,"width":0,"height":0,"name":"Min. Temperature","label":"Min. Temperature(°C)","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":580,"wires":[]},{"id":"dad925cc.85ae08","type":"ui_template","z":"cfe8b3b6.bf496","group":"10d1c91e.01c2d7","name":"","order":7,"width":0,"height":0,"format":"<style>\n    body{\n        background-image: url(\"https://images.unsplash.com/photo-1563514227147-6d2ff665a6a0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80\");\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":200,"y":500,"wires":[[]]},{"id":"12d0b114.a7c35f","type":"function","z":"cfe8b3b6.bf496","name":"motor state analyzer","func":"if(msg.payload===1)\n    msg.payload={\"command\":\"ON\"};\n\nelse if(msg.payload===0)\n    msg.payload={\"command\":\"OFF\"};\n    \nelse\n    msg.payload={\"command\":\"runfor30minutes\"};\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":740,"wires":[["2bcc832b.ffd39c","7c6aa8d1.ee5208"]]},{"id":"2bcc832b.ffd39c","type":"function","z":"cfe8b3b6.bf496","name":"state","func":"var state=msg.payload;\nmsg.payload = state.command;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":720,"wires":[["d08bc2fe.56bcb"]]},{"id":"d08bc2fe.56bcb","type":"ui_text","z":"cfe8b3b6.bf496","group":"4f408f77.1c2d3","order":8,"width":0,"height":0,"name":"","label":"Motor State","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":720,"wires":[]},{"id":"7c6aa8d1.ee5208","type":"json","z":"cfe8b3b6.bf496","name":"MOTOR","property":"payload","action":"","pretty":false,"x":640,"y":760,"wires":[["46bfff0d.7682a"]]},{"id":"74534d79.9ef6c4","type":"ui_button","z":"cfe8b3b6.bf496","name":"","group":"4f408f77.1c2d3","order":7,"width":0,"height":0,"passthru":false,"label":"RUN FOR 30 MINUTES","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"","x":230,"y":820,"wires":[["12d0b114.a7c35f"]]},{"id":"299ffc29.1d4004","type":"ui_template","z":"cfe8b3b6.bf496","group":"4f408f77.1c2d3","name":"","order":7,"width":0,"height":0,"format":"<style>\n    body{\n        background-image: url(\"https://images.unsplash.com/photo-1563514227147-6d2ff665a6a0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80\");\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":198.88888549804688,"y":549.7777709960938,"wires":[[]]},{"id":"534de2e0.fb8a9c","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"9wbx5m.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"10d1c91e.01c2d7","type":"ui_group","z":"","name":"Measured Data","tab":"934d898c.290898","order":1,"disp":true,"width":6,"collapse":false},{"id":"4f408f77.1c2d3","type":"ui_group","z":"","name":"Motor Controls","tab":"b6be7c1.459cd8","order":1,"disp":true,"width":"6","collapse":false},{"id":"3ca8a178.6d435e","type":"ui_group","z":"","name":"Weather Forecasting Data","tab":"934d898c.290898","order":2,"disp":true,"width":6,"collapse":false},{"id":"934d898c.290898","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"b6be7c1.459cd8","type":"ui_tab","z":"","name":"Controls","icon":"dashboard","disabled":false,"hidden":false}]